<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <!--开启下换线装驼峰-->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <!--别名设置-->
  <!--<typeAliases>
    <package name="com.gaoh.mybatis.model" />
  </typeAliases>-->

  <!--类型处理-->
  <!--<typeHandlers>
    <package name=""/>
    <typeHandler handler="org.mybatis.example.ExampleTypeHandler"/>
    <typeHandler handler="" javaType=""/>
  </typeHandlers>-->

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://127.0.0.1:3306/mybatis?serverTimezone=UTC&amp;characterEncoding=utf-8"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mybatis/BlogsMapper.xml"/>
    <mapper resource="mybatis/PaperMapper.xml"/>
    <!--<package name="org.apache.ibatis.test"/>-->
    <!--<package name="com.gaoh.mybatis.mapper"/>-->
  </mappers>
</configuration>
